## Lists:

In [2]:
# lists: A list is an ordered data structure with elements separated by a comma and enclosed within square brackets


new_list = [1,2,3,4,5,6]

# Adding : 

new_list.append(7)
new_list

[1, 2, 3, 4, 5, 6, 7]

In [3]:
# Removing:

new_list.remove(5)
new_list

[1, 2, 3, 4, 6, 7]

In [4]:
# Modifying: 

new_list[0] = 20
new_list

[20, 2, 3, 4, 6, 7]

## Dictionary:

In [8]:
#  dictionaries are mutable data structures that allow you to store key-value pairs. 
# Dictionary can be created using the dict() constructor or curly braces' {}'.


new_dict = {"name": "Ram", "Age":28, "Place" : "Hyderabad", "Occupation": "Working Professional"}
new_dict

{'name': 'Ram',
 'Age': 28,
 'Place': 'Hyderabad',
 'Occupation': 'Working Professional'}

In [10]:
# Adding: 

new_dict["Gender"] = "Male"
new_dict

{'name': 'Ram',
 'Age': 28,
 'Place': 'Hyderabad',
 'Occupation': 'Working Professional',
 'Gender': 'Male'}

In [11]:
# Removing: 

del new_dict["Age"]
new_dict

{'name': 'Ram',
 'Place': 'Hyderabad',
 'Occupation': 'Working Professional',
 'Gender': 'Male'}

In [12]:
# Modifying: 

new_dict["Occupation"] = "Data Analyst"
new_dict

{'name': 'Ram',
 'Place': 'Hyderabad',
 'Occupation': 'Data Analyst',
 'Gender': 'Male'}

## Sets :

In [13]:
# A set is a data collection type used in Python for storing multiple items in a single variable. 
# Sets in Python are unordered and, as such, are not always consistent in the order they get returned. 
# Furthermore, items in the set are immutable â€” ie. cannot be changed


new_set = {1,2,3,4,5,6,7}
new_set

{1, 2, 3, 4, 5, 6, 7}

In [14]:
# Adding : 

new_set.add(8)
new_set

{1, 2, 3, 4, 5, 6, 7, 8}

In [15]:
# Removing:

new_set.remove(5)
new_set

{1, 2, 3, 4, 6, 7, 8}

In [16]:
# Modifying: 

new_set.discard(2)
new_set

{1, 3, 4, 6, 7, 8}

In [17]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.update(y) 

print(x)

{'google', 'banana', 'apple', 'cherry', 'microsoft'}